@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

body {
  font-family: "Poppins", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  padding-bottom: 100px;
}

:root {
  --orange: #feb931;
}

/* body scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

/* body scrollbar */
.thinScrollbar::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--gray-400);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--orange);
  border-radius: 10px;
}



.active {
  color: var(--orange);
  position: relative;
  display: block;
}

.activeBullet {
  background: var(--orange);
}

#link:hover {
  color: var(--orange);
  position: relative;
  display: block;

}

.progress-bar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  background: var(--orange);
  z-index: 60;
  transform-origin: 0%;
}


section {
  min-height: 100vh;
  margin-top: 9rem;
  margin-bottom: 4rem;
}

p {
  font-family: "Poppins", Arial, sans-serif;
}


/* to get rid of the extra unknown height of login/register page */
#shadow-host-companion{
  display: none;
}