.MuiPagination-ul>li>button {
    background-color: #222222;
    color: white;
}

.MuiButtonBase-root.MuiPaginationItem-root.MuiPaginationItem-sizeMedium.MuiPaginationItem-text.MuiPaginationItem-circular.Mui-selected.MuiPaginationItem-page.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root {
    background-color: #feb931;
    color: #ffffff;
}

