* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

/* main wrapper */
.wrapper::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, #feb931, #feb931);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.wrapper::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, #feb931, #feb931);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.inputBox input:valid~label {}

.inputBox input:focus~label {
    color: #feb931;
    transform: translateX(0px) translateY(-34px);
    font-size: 0.75em;
}

.inputBox input:valid~i {}

.inputBox input:focus~i {
    height: 44px;
}